<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/app.css" />
        <title>URL Shortener</title>
    </head>
    <body>
        <main>
            <div class="container">
                <div class="top">
                    <h2>URL Shortener</h2>
                    <form id="main-form" action="">
                        <input type="url" name="url" id="url" placeholder="Enter your URL here" required />
                        <button type="submit">Shorten</button>
                    </form>
                </div>
                <hr />
                <div class="bottom">
                    <h3>Your shortened URL:</h3>
                    <ul id="result"></ul>
                </div>
            </div>
        </main>

        <!-- Pop up window -->
        <div class="stats-container" hidden>
            <div class="stats-content">
                <button class="popup-close-btn">&times;</button>
                <h2>URL Statistics</h2>
                <div id="stats-result"></div>
            </div>
        </div>

        <script src="/js/app.js"></script>
    </body>
</html>
